.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button {
  float: right;
  margin: 10px 10px;
}

.title{
  display: block;
  text-align: center;
}
