<div class="container" novalidate>
  <mat-card class="form">

    <div *ngIf="errorMessage" style="color:red;">
      *{{errorMessage}}
    </div>

    <mat-card-header class="title">
      <mat-card-title *ngIf="urlFlag =='readOnlyActivated'">Visualizza dettaglio</mat-card-title>
      <mat-card-title *ngIf="urlFlag =='addActivated'">Inserisci nuovo elemento</mat-card-title>
      <mat-card-title *ngIf="urlFlag =='editActivated'">Modifica elemento</mat-card-title>

    </mat-card-header>
    <form style="background-color: white" (ngSubmit)="handleFormRequest()" [formGroup]="userReactive">
      <div class="grid-item">
        <mat-card-title>Nome</mat-card-title>
        <mat-form-field class="form-element">
          <input matInput name="nome" type="text" formControlName="nome" placeholder="inserisci nome...">
          <mat-error *ngIf="userReactive.get('nome')?.hasError('required')">Nome obbligatorio</mat-error>
          <mat-error *ngIf="userReactive.get('nome')?.hasError('minlength')">Il nome deve avere almeno 4 caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-card-title>Cognome</mat-card-title>
        <mat-form-field class="form-element">
          <input matInput name="cognome" type="text" formControlName="cognome" placeholder="inserisci cognome...">
          <mat-error *ngIf="userReactive.get('cognome')?.hasError('required')">Cognome obbligatorio</mat-error>
          <mat-error *ngIf="userReactive.get('cognome')?.hasError('minlength')">Il cognome deve avere almeno 4 caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-card-title>Username</mat-card-title>
        <mat-form-field class="form-element">
          <input matInput name="username" type="text" formControlName="username" placeholder="inserisci username...">
          <mat-error *ngIf="userReactive.get('username')?.hasError('required')">Username obbligatorio</mat-error>
          <mat-error *ngIf="userReactive.get('username')?.hasError('minlength')">Lo Username deve avere almeno 3
            caratteri
          </mat-error>
          <mat-error *ngIf="userReactive.get('username')?.hasError('maxlength')">Lo Username deve avere massimo 15
            caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-card-title *ngIf="urlFlag =='addActivated'">Password</mat-card-title>
        <mat-form-field class="form-element" *ngIf="urlFlag =='addActivated'">
          <input matInput name="password" type="password" formControlName="password"
                 placeholder="inserisci password...">
          <mat-error *ngIf="userReactive.get('password')?.hasError('required')">Password obbligatoria</mat-error>
          <mat-error *ngIf="userReactive.get('password')?.hasError('minlength')">La Password deve avere almeno 3
            caratteri
          </mat-error>
          <mat-error *ngIf="userReactive.get('password')?.hasError('maxlength')">La Password deve avere massimo 15
            caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-card-title *ngIf="urlFlag =='addActivated'">Conferma Password</mat-card-title>
        <mat-form-field class="form-element" *ngIf="urlFlag =='addActivated'">
          <input matInput name="confermaPassword" type="password" formControlName="confermaPassword"
                 placeholder="conferma password...">
          <mat-error *ngIf="userReactive.get('confermaPassword')?.hasError('required')">Campo Conferma Password
            obbligatorio
          </mat-error>
          <mat-error *ngIf="userReactive.get('confermaPassword')?.hasError('minlength')">La Password di conferma deve
            avere almeno 3 caratteri
          </mat-error>
          <mat-error *ngIf="userReactive.get('confermaPassword')?.hasError('maxlength')">La Password di conferma deve
            avere massimo 15 caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" type="submit" class="button" *ngIf="urlFlag != 'readOnlyActivated'">
          Submit Form
        </button>
        <button mat-raised-button color="accent" type="submit" class="button" routerLink="/utenti/list">Back</button>
      </div>

    </form>
  </mat-card>
</div>
