<div class="contenitore">
  <mat-card class="main-card" style="padding: 100px; background-color: rgba(10, 128, 69, 0.401);">
    <mat-card-header>
      <mat-card-title>Benvenuto su DHL!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Using a series of utilities, you can create this jumbotron, just like the one
        in previous versions of Bootstrap.
      </p>
    </mat-card-content>
  </mat-card>

</div>
<div class="contenitore" *ifRole="['ROLE_ADMIN']">
  <app-ui-card [cardBody]="'body card Lista Spedizioni'" [cardLink]="'/spedizioni/list'"
               [cardTitle]="'Lista Spedizioni'"></app-ui-card>
  <app-ui-card [cardBody]="'body card Lista Utenti'" [cardLink]="'/utenti/list'"
               [cardTitle]="'Lista Utenti'"></app-ui-card>
  <!--      <button mat-raised-button color="primary" routerLink="/spedizioni/list">Vai a Lista Spedizioni</button>-->
</div>


<div class="contenitore" *ifRole="['ROLE_UTENTE']">
  <app-ui-card [cardBody]="'body card Report Spedizioni'" [cardLink]="'/spedizioni/list'"
               [cardTitle]="'Lista Spedizioni'"></app-ui-card>
  <app-ui-card [cardBody]="'body card Utenti'" [cardLink]="'/utenti/list'"
               [cardTitle]="'Lista Utenti'"></app-ui-card>
</div>
