<mat-toolbar color="primary">
  <div>
    <button mat-button [matMenuTriggerFor]="menu">MENU</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/welcome" [disabled]="toggle()">Home</button>
      <button mat-menu-item *ifRole="['ROLE_ADMIN']" (click)="ricercaSpedizioni()">Ricerca Spedizioni</button>
      <button mat-menu-item *ifRole="['ROLE_ADMIN']" (click)="InserimentoUtenti()">Inserimento Utenti</button>
    </mat-menu>
  </div>
  <span class="example-spacer"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="utente">UTENTE</button>
    <mat-menu #utente="matMenu">
      <button mat-menu-item>Username: {{(authService.getUserLogged() | async)?.username | uppercase}}</button>
      <div class="button">
        <button mat-menu-item (click)="logout()">Logout</button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
